body{
    opacity: 0;
    transition: opacity .5s .25s ease-out;
    font-family: 'Lato', sans-serif;
    font-size: 23pt;
}

a:hover{
    text-decoration: none;
}

a{
    font-size: 0.9rem;
}
.bulletSized{
    font-size: 0.8rem;
}

body.is-visible{
    opacity: 1;
}

.fill { 
    min-height: 100%;
    height: 100vh;
    margin-top: -9rem;
   
}
  
.carouselContainer{
    float: right;
    width: 100%;
    height: 100vh;
}
.spacer{
    height: 5%;
}

.textoInteriorSinAnimacion{
  
    width: 100%; 
    padding-left: 28%;
    padding-top: 50%;
    color: white;
    position: relative;
    z-index: 999;
    opacity: 100;
      
}

.textoInterior{
  
    width: 100%; 
    padding-left: 28%;
    padding-top: 50%;
    color: white;
    position: relative;
    z-index: 999;
    opacity: 0;
    animation-name: entradaTexto;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
      
}



@keyframes entradaTexto {
    0%   { 
        opacity: 0; 
    }

    
    
    100% {
        opacity: 100; 
      
       
        
    }
  }
  

.right.carousel-control, .left.carousel-control .carousel-control-prev .carousel-control-next{
    display: none;
  }

.productBanner{
    opacity: 0;
    transition: opacity .5s .25s ease-out;
    transform: translate(0, 20%);
    will-change: transform;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
}


.productBanner.is-visible{
    transform: translate(0, 0%);
    opacity: 1;
   
  }

