body{
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

body.is-visible{
    opacity: 1;
}

.fill { 
    min-height: 100%;
    height: 100vh;
   
}
  
.carouselContainer{
    float: right;
    width: 100%;
    height: 80vh;
}
.spacer{
    height: 5%;
}

.textoInterior{
  
    width: 100%; 
    padding-left: 40%;
    padding-top: 50%;
    color: white;
    position: relative;
    z-index: 999;
  
    
}

.right.carousel-control, .left.carousel-control .carousel-control-prev .carousel-control-next{
    display: none;
  }

.productBanner{
    opacity: 0;
    transition: opacity .5s .25s ease-out;
    transform: translate(0, 20%);
    will-change: transform;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .25s ease-out;
}


.productBanner.is-visible{
    transform: translate(0, 0%);
    opacity: 1;
   
  }

